{% extends 'base.html' %}
{% block content %}
<h2>Liste des sessions</h2>
<a href="{% url 'session_create' %}" class="btn btn-success">➕ Ajouter une session</a>
<table border="1" cellpadding="8">
  <tr>
    <th>ID</th>
    <th>Conférence</th>
    <th>Titre</th>
    <th>Date</th>
    <th>Début</th>
    <th>Fin</th>
    <th>Salle</th>
    <th>Actions</th>
  </tr>
  {% for s in sessions %}
  <tr>
    <td>{{ s.id }}</td>
    <td>{{ s.conference }}</td>
    <td>{{ s.title }}</td>
    <td>{{ s.session_date }}</td>
    <td>{{ s.start_time }}</td>
    <td>{{ s.end_time }}</td>
    <td>{{ s.room }}</td>
    <td>
      <a href="{% url 'session_detail' s.pk %}">👁️</a> |
      <a href="{% url 'session_update' s.pk %}">✏️</a> |
      <a href="{% url 'session_delete' s.pk %}">🗑️</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
